@page "/login"
@using UI.Interfaces
@inject IAuthorize auth
@inject IWebRequest webReq
@inject NavigationManager nav

<PageTitle>Авторизация</PageTitle>

<div class="center-container">
    <RadzenColumn>
        <h3>Пожалуйста, авторизуйтесь</h3>
        <RadzenCard>
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Логин (можно придумать новый)</RadzenText>
            <RadzenTextBox @oninput=@(args=>login=args.Value?.ToString()) Style="width: 100%" @onkeydown="HandleKeyDown" @ref=input />
            @if (errorMessage != null)
            {
                <span style="color:red">@errorMessage</span>
            }
        </RadzenCard>

        <div class="bottom-button">
            <RadzenButton Text="Авторизация" Click="Auhorize" Disabled="loading" />
        </div>

    </RadzenColumn>
</div>

@code {
    private RadzenTextBox input;

    private string? errorMessage;
    private string? login;
    private bool loading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await input.FocusAsync();
        }
    }

    private async void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Auhorize();
        }
    }

    private async Task Auhorize()
    {
        if (string.IsNullOrWhiteSpace(login))
        {
            errorMessage = "Пожалуйста, укажите логин";
            return;
        }

        loading = true;
        await InvokeAsync(StateHasChanged);

        var authResult = await auth.Authorize(login);

        if (authResult != null)
        {
            errorMessage = authResult;
        }
        else
        {
            nav.NavigateTo("/");
        }

        loading = false;
        await InvokeAsync(StateHasChanged);
    }
}